In [1]:
import numpy as np
import pandas as pd

import pickle
import matplotlib.pyplot as plt

In [2]:
with open('result digit.pkl', 'rb') as file1:
    res_d = pickle.load(file1)

with open('result speaker.pkl', 'rb') as file2:
    res_s = pickle.load(file2)

### Q1. and Q3.

### *Confusion Matrix*
It has four values:
- True Positive (TP): The number of correct positive predictions.
- True Negative (TN): The number of correct negative predictions.
- False Positive (FP): The number of incorrect positive predictions.
- False Negative (FN): The number of incorrect negative predictions.

The following metrics can be calculated from the four values of confusion matrix:

- *Accuracy:* the proportion of correct predictions made by the model out of all the predictions made by it. It is How often the model makes correct predictions. It's high even if the model is very cautious
$$ \frac {TP + TN} {TP + TN + FP + FN} = \frac {T} {T + F} $$

- *Precision:* the proportion of correct predictions made by the model out of all the predictions to the value. It shows us how precise the model is when predicting the positive class. It is the ratio of correctly predicted positives to the total predicted positives.
$$ \frac {TP} {TP + FP} = \frac {TP} {P} $$

- *Recall:* the proportion of correct predictions made by the model out of all the observations on that model. It tells us how good the model is at finding all positive instances.
$$ \frac {TP} {TP + FN} $$

- *F1 Score:* mean of $\frac{1}{Precision}$ and $\frac{1}{Recall}$ Also knows as harmonic mean. providing a single metric that balances the effects of both.
$$ \frac{1}{F1} = \frac{1}{2} (\frac{1}{Recall} + \frac{1}{Precision}) \quad \to \quad F1 = 2 \times \frac{Precision \times Recall} {Precision + Recall} $$

### Q2.
yes. besides accuracy all the other metrics are for a single category. we could use micro-macro approach.
### Q4.
Precision is not about the wrong answers found by the model. It's high even if model detects all the tests true. We have the same problem with recall.
### Q5.
$ \frac {1}{F_1} = \frac{1}{2} \times (\frac {1}{Precision} + \frac {1}{Recall})$

As you can see in this type in mean one high value can't affect the total mean much. so both of them are equaly important.

In [3]:
def calculate_accuracy(df):
    df["accuracy (l)"] = df["passed (l)"] / df["tests count"] * 100
    df["accuracy (l)"] = df["accuracy (l)"].round(2)
    df["accuracy (s)"] = df["passed (s)"] / df["tests count"] * 100
    df["accuracy (s)"] = df["accuracy (s)"].round(2)

calculate_accuracy(df=res_d)
calculate_accuracy(df=res_s)

def calculate_precision(df):
    df["precision (l)"] = df["passed (l)"] / df["detected (l)"] * 100
    df["precision (l)"] = df["precision (l)"].round(2)
    df["precision (s)"] = df["passed (s)"] / df["detected (s)"] * 100
    df["precision (s)"] = df["precision (s)"].round(2)

calculate_precision(df=res_d)
calculate_precision(df=res_s)

In [4]:
def separate_DFs(df):
    df_l, df_s = None, None
    for col in df.columns:
        if "(l)" in col:
            if df_l is None:
                df_l = df[col]
            else:
                df_l[col[:-3]] = df[col]

        if "(s)" in col:
            if df_s is None:
                df_s = df[col]
            else:
                df_s[col[:-3]] = df[col]
    return df_l, df_l

def separate_DFs2(df):
    cols_l = [col for col in df.columns if ' (l)' in col]
    cols_s = [col for col in df.columns if ' (s)' in col]

    df_l = df.filter(cols_l)
    df_l.columns = [ col[:-4] for col in df_l.columns ]
    df_s = df.filter(cols_s)
    df_s.columns = [ col[:-4] for col in df_s.columns ]
    return df_l, df_s

result_digit_library, result_digit_scratch = separate_DFs2(df=res_d)
result_speaker_library, result_speaker_scratch = separate_DFs2(df=res_s)

In [10]:
print(result_digit_library["accuracy"].mean())
result_digit_library

94.83500000000001

   passed  failed  detected  accuracy  precision
0      55       5        58     91.67      94.83
1      60       0        71    100.00      84.51
2      60       0        61    100.00      98.36
3      58       2        60     96.67      96.67
4      58       2        58     96.67     100.00
5      58       2        63     96.67      92.06
6      49      11        49     81.67     100.00
7      58       2        62     96.67      93.55
8      60       0        65    100.00      92.31
9      53       7        53     88.33     100.00

In [11]:
print(result_digit_scratch["accuracy"].mean())
result_digit_scratch

86.667

   passed  failed  detected  accuracy  precision
0      57       3        76     95.00      75.00
1      55       5        58     91.67      94.83
2      54       6        54     90.00     100.00
3      48      12        55     80.00      87.27
4      57       3        58     95.00      98.28
5      58       2        71     96.67      81.69
6      42      18        61     70.00      68.85
7      54       6        69     90.00      78.26
8      51       9        53     85.00      96.23
9      44      16        45     73.33      97.78

In [12]:
print(result_speaker_library["accuracy"].mean())
result_speaker_library

94.16666666666667

          passed  failed  detected  accuracy  precision
george       100       0       100     100.0     100.00
jackson       90      10        95      90.0      94.74
lucas         97       3        97      97.0     100.00
nicolas      100       0       100     100.0     100.00
theo          99       1       129      99.0      76.74
yweweler      79      21        79      79.0     100.00

In [13]:
print(result_speaker_scratch["accuracy"].mean())
result_speaker_scratch

91.0

          passed  failed  detected  accuracy  precision
george       100       0       100     100.0     100.00
jackson       80      20        84      80.0      95.24
lucas         97       3        97      97.0     100.00
nicolas      100       0       118     100.0      84.75
theo          77      23        89      77.0      86.52
yweweler      92       8       112      92.0      82.14